---
layout: clean
---

{% for post in site.posts limit 15 %}
<article class="post-card">
	<div class="post-content">
		<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
		<p class="resume">{{ post.content | strip_html | truncatewords:50}}</p>
	</div>
	<div class="meta">
		<time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="published-when">
			{% include post-date.html %}
		</time>
		{% include post-categories.html %}{% include post-tags.html prepend='| Com a(s) tag(s) ' %}
		<a href="{{ post.url | prepend: site.baseurl }}" class="float-right read-more">continue lendo</a>
	</div>
</article>
{% endfor %}
