body {
	background: $color-bg;
	font-family: $font-body;
	color: $color-body;
	font-size: 16px;
	line-height: 1.6em;
}

h1, h2, h3 {
	font-family: $font-heading;
	letter-spacing: -1px;
	font-weight: 300;
	color: $color-heading;
}

a {
	color: $color-link;
	&:hover {
		color: $color-link-hover;
	}
}