body {
	font-family: $font-body;
	color: $color-body;
	font-size: 16px;
	line-height: 1.6em;
}

h1, h2, h3 {
	font-family: $font-heading;
	letter-spacing: -1px;
	font-weight: 300;
	color: $color-heading;
}

.sidebar {
	width: $sidebar-width;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: $color-main;
}
.content {
	position: absolute;
	margin: 60px;
	top: 0;
	right: $sidebar-width;
	bottom: 0;
	left: 0;
}