/* Coolors Exported Palette - coolors.co/16a085-246a73-d7263d-7d1128-ffffff */
$color1: #d7263d; //rgba(215, 38, 61, 100)
$color2: #7d1128; //rgba(125, 17, 40, 100)
$color3: #246a73; //rgba(36, 106, 115, 100)
$color4: #16a085; //rgba(22, 160, 133, 100)
$color5: #ffffff; //rgba(255, 255, 255, 100)

$color-bg: #F2F2F2;

$color-main: $color1;
$color-main2: $color2;
$color-alt: $color3;
$color-alt2: $color4;

$color-link: $color-main;
$color-link-hover: $color-main2;


// fonts
$font-heading: 'Ubuntu', Arial, serif;
$font-body: 'Raleway', Arial, sans-serif;
$color-heading: #333;
$color-body: #666;

// configs
$sidebar-width: 350px;
$sidebar-position: left; 					//left or right only
$sidebar-color: rgba(#000, .8); 			//If want combine with background image, put 'rgba' format: rgba($color-main, 0.6)
$sidebar-img: '/img/bg-city.jpg'; 				//url to bg image, base64 or 'false' to disable