---
layout: default
---

<main class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-8 col-lg-offset-2">
			<article class="post-card">
				<div class="meta-sup">
					<time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="published-when">
						{% include post-date.html %}
					</time>
						{% include post-categories.html %}
					<span class="float-right">
						{% include post-tags.html prepend='' append=' <i class="fa fa-tags"></i>' %}
					</span>
				</div>
				<div class="post-content">
					<h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
					{{ content }}
				</div>
			</article>
			<div>
				<div id="disqus_thread"></div>
				<script>
					var disqus_config = function () {
						this.page.url = '{{ page.url | prepend: site.url }}';
						this.page.title = '{{ page.title }}';
						this.page.identifier = '{{ page.id }}';
					};
					(function() {
						var d = document, s = d.createElement('script');
						s.src = '//{{ site.disqus-shortname }}.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				</script>
			</div>
		</div>
	</div>
</main>