{% if post %}
	{% assign categories = post.categories %}
{% else %}
	{% assign categories = page.categories %}
{% endif %}
{% if include.prepend %}
	{% assign prepend = include.prepend %}
{% else %}
	{% assign prepend = 'em ' %}
{% endif %}
{% if include.implode %}
	{% assign divider = include.implode %}
{% else %}
	{% assign divider = ', ' %}
{% endif %}
{% if include.append %}
	{% assign append = include.append %}
{% else %}
	{% assign append = '.' %}
{% endif %}
{% if categories.size > 0 %}
	{{ prepend }}{% for category in categories %}<a href="/category/#{{category|slugize}}">#{{category}}</a>{% unless forloop.last %}{{ divider }}{% endunless %}{% endfor %}{{ append }}
{% endif %}