<a href="/" class="profile-img"><img src="/img/profile.png" alt="Author name" class="focuses"></a>
<h1>Sandra Joe</h1>
<p>
	Lorem ipsum Adipisicing Excepteur Ut amet consectetur esse laboris in exercitation est elit cillum.
</p>
<form action="#" method="get" id="search">
	<input type="text" name="q" value="" placeholder="Search…">
	<span><i class="glyphicon glyphicon-search"></i></span>
</form>
<ul class="social-icons">
	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a href="#"><i class="fa fa-github"></i></a></li>
</ul>